#project
projects/**/*
!projects/configs/sample_config.json
!projects/requests/sample_request.json
!projects/results/sample_result*

node_modules/
dist/

!**/*/.gitkeep

#IDE
.idea
.vscode
*.code-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
